{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    {% load static %}
    <link href="{% static 'main/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <div class="logo">
        <a href="/"><h1>Frugal<font color="#e30909">Finder</font></h1></a>
    </div>
    <div class="searchbar-container">
        <form action="search/" class="searchbar" autocomplete="off">
            <input minlength="3" maxlength = "30" class="searchbar-input" type="text" placeholder="search..." name="q">
            <button class="searchbar-button" type="submit"><i class="material-icons">search</i></button>
        </form>
    </div>
  </body>
</html>